/* Colores */
$violeta_oscuro: #863A6F;
$violeta_claro: #975C8D;
$amarillo: #D989B5;
$marron: hsla(43, 100%, 18%, 0.795);
$marron_oscuro: hsla(43, 100%, 18%, 0.9);

/* Breakpoint */
$breakpoint: 1080px;